spring:
  application:
    name: gateway
  cloud:
    sentinel:
      transport:
        dashboard: http://10.59.12.42:8899
      datasource:
        ds1:
          nacos:
            server-addr: 10.59.12.42:8848
            dataId: flow_rules
            groupId: DEFAULT_GROUP
            data-type: json
            rule-type: flow
    nacos:
      discovery:
        server-addr: http://10.59.12.42:8848/ #nacos服务器
        username: nacos
        password: nacos
    gateway: #让gateway通过nacos实现自动路由转发

      discovery:
        locator:
          enabled: false
      routes:  #路由规则配置
        - id: web_route
          #gateway自动从nacos获取article-service可用节点进行转发
          #默认会将所有Gateway URI转发到article-service上
          uri: lb://webApi
          predicates:
            - Path=/web/**
          filters:
            - StripPrefix=1 #忽略掉第一层前缀进行转发 :9000/as/list->:8100/list
        - id: civil_route
          #gateway自动从nacos获取article-service可用节点进行转发
          #默认会将所有Gateway URI转发到article-service上
          uri: lb://civilApi
          predicates:
            - Path=/civil/**
          filters:
            - StripPrefix=1 #忽略掉第一层前缀进行转发 :9000/as/list->:8100/list
#            - AddResponseHeader=X-Response-Red,Blue
      globalcors: #网关CORS跨域设置
        cors-configurations:
          '[/**]': #gateway网关上所有URI都应用下面的跨域设计
            allowed-credentials: true #允许携带认证信息
            allowed-origins:
              - "*" #允许所有来源进行跨域访问 ,http://localhost
            allowed-headers: "*" #允许跨域请求里的head字段，设置*为全部
            allowed-methods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            max-age: 3600
server:
  port: 8888
  ssl:
    key-store: classpath:xzybzx.org.cn.pfx
    key-store-password: xzyb
    key-store-type: PKCS12
    enabled: true
management:
  endpoints: #注意是endpoints
    web:
      exposure:
        include: '*'
